@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*, html, body {
    padding: 0px;
    margin: 0px;
}


.fContainer {
    /* background-image: url(/assets/image/background/backgroundhome0.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 370px;
    height: 180vh;
}

    @media (max-height: 350px) {
        .container {
            display: none;
        }
    }

/* MAIN CONTENT */

.main-content {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 20, 20);
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 30px;
}

.cover > img {
    width: 370px;
    height: 140px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
}

.profile-img {
    position: relative;
    top: -60px;
}

    .profile-img > img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50px;
        border: 2px solid rgb(20, 20, 20);
    }


.name-wrapper {
    display: flex;
    justify-content: center;
    font-family: "ubuntu", sans-serif;
    margin-top: -50px;
}

    .name-wrapper > a {
        text-decoration: none;
        color: white;
        font-weight: 700;
        font-size: 20px;
    }

        .name-ardan > span {
            color: rgb(100, 100, 100);
            font-size: 11px;
            cursor: default;
            font-family: "ubuntu", sans-serif;
        }

.iconTitle {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

    .iconTitle > img {
        width: 16px;
        padding: 2px;
    }

.link {
    margin-top: 30px;
}

.link-padding {
    padding: 5px;
}

    .link-padding > a {
        text-decoration: none;
    }

.link-wrapper {
    background-color: white;
    border: 1px solid white;
    width: 260px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.link-content {
    display: flex;
    align-items: center;
}

    .link-content > img {
        width: 13px;
        height: 13px;
    }

.title-content {
    padding-left: 5px;
    font-family: "ubuntu", sans-serif;
}
    
    .title-content > span {
        display: flex;
        align-items: center;
        color: rgb(0, 0, 0);
        font-size: 13px;
    }



.title-high {
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: "ubuntu", sans-serif;
}

    .title-high > span {
        color: white;
        font-weight: 800;
        font-size: 20px;
    }


.high-wrapper {
    display: flex;
}

.high-wrapper > a {
    padding: 2px;
}

    .high-wrapper > a > img {
        width: 140px;
        border-radius: 10px;
    }
